REACT_APP_MARVEL_API_KEY=e0e102edf555768fd3c7dde29bb314b2
REACT_APP_FIREBASE_API_KEY=AIzaSyDj60dSTWPmedSKveJH7BS_NAeTNUCMcNA
REACT_APP_FIREBASE_AUTH_DOMAIN=marvel-quiz-host-27faf.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=marvel-quiz-host-27faf
REACT_APP_FIREBASE_STORAGE_BUCKET=marvel-quiz-host-27faf.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=396150565480
REACT_APP_FIREBASE_APP_ID=1:396150565480:web:6f08b37b6541228118e9dd
REACT_APP_FIREBASE_MEASUREMENT_ID=G-NRP465YK14